<% provide(:title, "À la une") %>
<%= render 'layouts/header' %>
<style media="screen">
  body {
    background:url(https://unsplash.imgix.net/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=61cd02d7161cfaa8057ac6265b902999) center no-repeat;
    background-size: contain, cover;
  }
</style>
<div class="ui container">
  <h1 style="color:#1b1c1d;">À la une</h1>
  <span style="color: white;">
    <%= paginate @infos %>
  </span>
  <!--
  <div class="wrap">
    <h1>Info</h1>
    <article>
      <p>
        Podcasting visionary, feeds; open-source one-to-one user-contributed world-class e-markets
        action-items rich initiatives proactive real-time, webservices; synergies, granular holistic
        relationships, portals communities.
      </p>
      <p>
        Podcasting visionary, feeds; open-source one-to-one user-contributed world-class e-markets
        action-items rich initiatives proactive real-time, webservices; synergies, granular holistic
        relationships, portals communities.
      </p>
      <p>
        Podcasting visionary, feeds; open-source one-to-one user-contributed world-class e-markets
        action-items rich initiatives proactive real-time, webservices; synergies, granular holistic
        relationships, portals communities.
      </p>
    </article>
  </div> -->

<% @infos.each do |info| %>
  <div class="wrap" style="opacity: 0.8 !important;">
    <h1 style="color: #1b1c1d;"><%= info.title %></h1>
    <article>
      <p style="font-size: 18px;">
         <%= info.body %>
      </p>
      <p style="font-size: 18px;">
         <%= info.body_2 %>
      </p>
      <p style="font-size: 18px;">
         <%= info.body_3 %>
      </p>
    </article>
  </div>
<% end %>

</div>
<%= render 'layouts/footer' %>
