<% provide(:title, "La formation") %>
<%= render 'layouts/header' %>
<!--
<div class="ui container">
  <h1>StaticPages#la_formation</h1>
  <p>Find me in app/views/static_pages/la_formation.html.erb</p>
</div>
-->

<div class="ui top attached demo menu" style="margin-top: -15px;">
  <a class="item">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui inverted labeled icon left inline vertical demo sidebar menu">

<%= render 'nav_first' %>
  </div>
  <div class="pusher">
    <div class="ui basic segment" style="background-color: #a1d1b6;">  <!-- B24F3B -->
      <div class="wrap">
        <h3 class="ui header" style="font-size: 30px;">
          Cours en ligne / 1ère année
        </h3>
          <h4 style="font-size: 20px">Enseignement Théorique</h4>
          <a href="#" style="color:black;"><p style="font-size: 18px;"> / Histoire de l'art </p></a>
          <a href="#" style="color:black;"><p style="font-size: 18px;"> / Histoire du cinéma </p></a>
          <a href="#" style="color:black;"><p style="font-size: 18px;"> / Sémiologie/Analyse d'images et de textes </p></a>
          <a href="#" style="color:black;"><p style="font-size: 18px;"> / Atelier d'écriture / Sénario </p></a>
          <a href="#" style="color:black;"><p style="font-size: 18px;"> / Anglais </p></a>
          <p><%= link_to "Retour", year_one_path, :class => "ui secondary button" %></p>
     </div>
     <div style="margin-top:800px;"></div>
    </div>
  </div>
</div>
<!--
<div class="ui container">
  <% @lessons.each do |info| %>
    <div class="wrap" style="opacity: 0.8 !important;">
      <h1 style="color: #1b1c1d;"><%= info.title %></h1>
      <article>
        <p style="font-size: 15px;">
           <%= info.description %>
        </p>
        <p style="font-size: 15px;">
           <%= info.content %>
        </p>
        <p style="font-size: 15px;">
           <%= info.link %>
        </p>
        <p style="font-size: 15px;">
           Author
        </p>
      </article>
    </div>
  <% end %>
  <span style="color: white;">
    <%= paginate @lessons %>
  </span>
-->

</div>

<style media="screen">
.secondary.menu {
margin: 0 5rem;
}
</style>

<script type="text/javascript">

$('.ui.sidebar').sidebar({
    context: $('.bottom.segment')
  })
  .sidebar('attach events', '.menu .item');

/* main menu */
/*
$('.main.sidebar')
  .sidebar('attach events', '.item.sidebar')
  .sidebar('setting', 'transition', 'push');

// secondary menu
$('.secondary.menu .ui.sidebar')
  .sidebar({ context: $('.bottom.segment') })
  .sidebar('attach events', '.secondary.menu .item')
  .sidebar('setting', 'transition', 'push')
  .sidebar('setting', 'dimPage', false)
*/
</script>


<%= render 'layouts/footer' %>
