<% provide(:title, "1ère année") %>
<%= render 'layouts/header' %>
<%= render 'nav_first' %>

<div class="ui container">
  <h1>Cours de première année</h1>
  <p></p>
</div>
<div class="ui container">
  <% if logged_in? %>
    <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        <%= link_to info_page_path do %>
          <%= image_tag("THEORIQUE.jpg", :alt => "rss feed", :style => "width: 100%;") %>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#">
          <%= image_tag("ART_PLASTIQUES.jpg", :alt => "rss feed", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#">
        <%= image_tag("PRATIQUE.jpg", :alt => "Cours", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#">
        <%= image_tag("PRODUCTIONS.jpg", :alt => "rss feed", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    </div>
  <% else %>
  <div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
      <%= image_tag("THEORIQUE.jpg", :alt => "rss feed", :style => "width: 100%;") %>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <%= image_tag("ART_PLASTIQUES.jpg", :alt => "rss feed", :style => "width: 100%;") %>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <%= image_tag("PRATIQUE.jpg", :alt => "rss feed", :style => "width: 100%;") %>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <%= image_tag("PRODUCTIONS.jpg", :alt => "rss feed", :style => "width: 100%;") %>
    </div>
  </div>
  </div>
  <% end %>
</div>
<%= render 'layouts/footer' %>
