<% provide(:title, "2ème année") %>
<%= render 'layouts/header' %>
<div class="ui container">
  <h1>Cours de deuxième année</h1>
  <p></p>
</div>
<div class="ui container">
  <% if logged_in? %>
    <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        <a href="#">
          <%= image_tag("ENSEIGNEMENT_THEORIQUE_2.jpg", :alt => "Cours", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#">
        <%= image_tag("ENSEIGNEMENT_PRATIQUE_2.jpg", :alt => "rss feed", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#">
        <%= image_tag("ARTS_PLASTIQUES_2.jpg", :alt => "rss feed", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#">
        <%= image_tag("PRODUCTIONS_2.jpg", :alt => "rss feed", :style => "width: 100%;") %>
        </a>
      </div>
    </div>
    </div>
  <% else %>
  <div class="ui two column grid">
  <div class="column">
    <div class="ui segment">

        <%= image_tag("ENSEIGNEMENT_THEORIQUE_2.jpg", :alt => "Cours", :style => "width: 100%;") %>

    </div>
  </div>
  <div class="column">
    <div class="ui segment">

      <%= image_tag("ENSEIGNEMENT_PRATIQUE_2.jpg", :alt => "rss feed", :style => "width: 100%;") %>

    </div>
  </div>
  <div class="column">
    <div class="ui segment">

      <%= image_tag("ARTS_PLASTIQUES_2.jpg", :alt => "rss feed", :style => "width: 100%;") %>

    </div>
  </div>
  <div class="column">
    <div class="ui segment">

      <%= image_tag("PRODUCTIONS_2.jpg", :alt => "rss feed", :style => "width: 100%;") %>

    </div>
  </div>
  </div>
  <% end %>
</div>
<%= render 'layouts/footer' %>
