<% provide(:title, "Calendar") %>
<%= render 'layouts/header' %>
<div class="ui container">

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>End time</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @meetings.each do |meeting| %>
        <tr>
          <td> <%= meeting.name %> &nbsp; </td>
          <td> <%= meeting.start_time %> &nbsp; </td>
          <td> <%= meeting.end_time %> &nbsp; </td>
          <td> <%= link_to 'Show', meeting %> &nbsp; </td>
          <td> <%= link_to 'Edit', edit_meeting_path(meeting) %> &nbsp; </td>
          <td> <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_meeting' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<%= link_to 'New Meeting', new_meeting_path %>

<div style="margin:5px 0 80px 0;"></div>

<%= month_calendar events: @meetings do |date, meetings| %>
<%= date.strftime("%d") %>

<% meetings.each do |meeting| %>
    <div>
       <%= meeting.name %></br>
       <%= meeting.start_time.strftime("%H heure(s) %M") %>
    </div>
    <!-- As wierd as it seems |The space between the to end provide us ti print the all array| -->
  <% end %>

<% end %>
</div>
<!-- To move to real css latter on -->
<style>
    table {margin: 5px 0 40px 0} a { margin: 0 10px 0 10px} td.day {width:160px; text-align: center;}
    .simple-calendar {}
    .day{padding: 20px;}
    .wday-0 {} .wday-1 {} .wday-2 {} .wday-3 {} .wday-4 {} .wday-5 {} .wday-6 {}
    .today {}
    .past {}
    .future {}
    .start-date {}
    .prev-month {}
    .next-month {}
    .current-month {}
    .has-events {}
</style>
<%= render 'layouts/footer' %>
