<% provide(:title, "Ajouter un utilisateur") %>
<%= render 'layouts/header' %>
<div class="ui container">

<h1 class="">Sign up</h1>
  <% if logged_in? && current_user.role == true %>
    <div class="ui form segment">
    <%= form_for(@user) do |f| %>
      <div class="two fields">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
       </div>
     </div>
     <div class="two fields">
       <div class="field">
         <%= f.label :current_year %>
         <%= f.select :current_year, options_for_select([['1ère année', 1], ['2ème année', 2], ['3ème année', 3], ['4ème année', 4], ['5ème année', 5], ['Enseignant/Professeur(e)', 100]]) %>
       </div>
       <!-- For safe purpose, this part is disabled, it needs f. something to be active-->
       <div class="field">
         <label>Rôle</label>
         <select class="ui dropdown" name="role">
           <option value="">Admin/Etudiant/Professeur(e)</option>
           <option value="true">Admin</option>
           <option value="false">Etudiant/Professeur(e)</option>
         </select>
      </div>
     </div>
      <%= f.submit "Entrer un utilisateur", class: "ui primary submit button" %>
      <div class="ui error message"></div>
      <% end %>
     <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
