<% provide(:title, "Mon profil") %>
<%= render 'layouts/header' %>
<div class="ui container">
  <h1>Mon profil</h1>

    <div class="ui people shape">
      <div class="ui card">
        <div class="image">
          <% if Time.new.min % 3 === 0  %>
          <img src=" https://semantic-ui.com/images/movies/12years-horizontal.jpg">
          <% elsif Time.new.min % 2 === 0  %>
          <img src=" https://semantic-ui.com/images/movies/totoro-horizontal.jpg">
          <% else %>
          <img src="https://semantic-ui.com/images/movies/watchmen-horizontal.jpg">
          <% end %>
        </div>
        <div class="content">
          <div class="header"><%= @user.name %></div>
          <div class="meta">
            <a><%= @user.email %></a>
          </div>
          <div class="description">
            <% if @user.role === false && @user.current_year != 100  %>
              Etudiant en <%= @user.current_year %> ème année.
            <% else %>
              Professeur(e)
            <% end %>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Inscrit en 2018
          </span>
          <span>
            <i class="user icon"></i>
            Section cinéma
          </span>
        </div>
      </div>
  </div>

  <div class="ui message">
    <!-- <div class="header">
      <h2>Informations utiles :</h2><br>
    </div> -->
    <div class="ui horizontal segments">
      <div class="ui segment">
        <p>
        <% if logged_in? && current_user.role == true %>
        <%= link_to "Voir la page Admin", admin_path, :class => "header", :style => "color: black;" %> </br>
        <% end %>
        <% if logged_in? && current_user.current_year == 100 %>
        <%= link_to "Ajouter un cours", lessons_path, :class => "header", :style => "color: black;" %> </br>
        <% end %>
        <%= link_to "Voir le calendier", meetings_path, :class => "header", :style => "color: black;" %> </br>
        <a href="https://prepa-cinema.slack.com/" target="_blank" class="header" style="color: black;">
          Aller sur slack
        </a> </br>
      </p>
      </div>
      <div class="ui segment">
        <p>
          Middle
        </p>
      </div>
      <div class="ui segment">
        <p>
          <a href="https://www.youtube.com/channel/UC0qZ4P8CyfRDxIzsn2Fcdsw/videos" target="_blank" class="header" style="color: black;">
            Vidéos des étudiants
          </a> </br>
          <a href="https://www.themoviedb.org/" class="header" style="color: black;">
            "The movie database"
          </a></br>
        </p>
      </div>
    </div>
    <div class="ui horizontal segments">
      <div class="ui segment">
        <p>
        </p>
      </div>
      <div class="ui segment">
        <p>
        </p>
      </div>
      <div class="ui segment">
        <p>
        </p>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 200px;"></div>
</div>
<%= render 'layouts/footer' %>
</div>
