<div class="ui fixed inverted menu">
    <div class="ui container">
      <%= link_to "Accueil", info_page_path, :class => "header item" %>
      <a href="http://prepa-cinema.surge.sh/" target="_blank" class="item">
        Prépa cinéma Paris
      </a>
      <div class="ui simple dropdown item">
        Les programmes <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "1ère année", year_one_path, :class => "item" %>
          <%= link_to "2ème année", year_two_path, :class => "item" %>
          <%= link_to "3ème année", year_three_path, :class => "item" %>
          <% if false %>
            <%= link_to "4ème année", year_four_path, :class => "item" %>
            <%= link_to "5ème année", year_five_path, :class => "item" %>
          <% end %>
        </div>
      </div>
      <% if logged_in? %>
       <%= link_to "Mon profil", user_path(current_user), :class => "item" %>
       <%= link_to "Déconnexion", logout_path, method: :delete, :class => "item" %>
      <% else %>
        <%= link_to "Connexion", root_path, :class => "item" %>
      <% end %>
      <%= link_to "Contact", contacts_path, :class => "item" %>
    </div>
</div>
