<!DOCTYPE html>
<html>
  <head>
     <title>
       <%= yield(:title) %> | Prépa cinéma Paris</title>
    <%= csrf_meta_tags %>
    <!-- CDN link to semantic -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CDN link to semantic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

  </head>

  <body>

    <div class="ui container">
      <div style="margin-bottom: 55px;"></div>
      <% flash.each do |message_type, message| %>
         <div class="ui <%= message_type %> message"><%= message %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
